/* FULL RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PAGE */
html, body {
  width: 100%;
  height: 100%;
  background-color: black !important;
}

/* CALCULATOR */
.calculator {
  width: 100%;
  height: 100%;
  background-color: black !important;
  display: flex;
  flex-direction: column;
}

/* DISPLAY */
#display {
  width: 100%;
  height: 20%;
  background-color: black !important;
  color: white !important;
  font-size: 3rem;
  text-align: right;
  padding: 15px;
  border: none;
  outline: none;
}

/* BUTTONS GRID */
.buttons {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
  background-color: black !important;
}

/* BUTTONS */
button {
  font-size: 1.6rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: #111 !important;
  color: white !important;
}
