#display {
  width: 100%;
  height: 60px;
  font-size: 26px;
  text-align: right;
  padding-right: 10px;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;

  background: white;
  color: black;
}
